header {
    height: 10.1rem;
    border-bottom: $endline-height solid #323746;

    .header {
        height: 9.5rem;
        position: relative;
        background-color: $header-color;

        & > * { margin: 0 6%;}
         
        &__title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            h1 {
                height: 100%;
                width: 100%;
                font-size: 3.5vw;

                &::after {
                    height: 100%;
                    width: 100%;
                    content: "\002A";
                    color: $crimson-color;
                    font-size: inherit;
                }
            }
        }
    }
}