.section-slider {
    background-color: $crimson-color;
    height: 61.5rem;
    border-bottom: $endline-height solid #ea676b;
}

.section-services {    
    height: 50.1rem;
    background-color: #f2f2f2;
    border-bottom: $endline-height solid $color-white;
}

.section-portfolio {
    height: 87.6rem;
    background-color: #2d303a;
    border-bottom: $endline-height solid #323746;
}

.section-about {
    height: 73.4rem;
    background-color: #f2f2f2;
    border-bottom: $endline-height solid $color-white;
}

.section-quote {
    height: 65.4rem;
    background-color: #f06c64;
    border-bottom: $endline-height solid #ea676b;
}