@media (max-width: 768px) {

    body {
        width: 100%;
    }

    .section-slider { 
        height: 81vw;
    }

    .slider {
        &__arrow:hover {
            transform: scale(1.3) translateY(-50%);
        }
    }

    .section-services {
        height: 65rem;
    }

    .services-box {
        height: 64.4rem;
    }

    .container-services {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .section-portfolio {
        height: 104rem;
    }

    .portfolio {
        height: 103.4rem;
    }

    .collage {
        height: calc(2.2rem * 3 + 18.7rem * 4);
        grid-template: repeat(4, auto)/repeat(3, auto);
    }

    .container-about .author__image {
        height: 24rem;
        width: 24rem;
    }

    .quote__form {
        width: 65%;
    }
}

@media (max-width: 580px) {

    html {
        font-size: 60%;
    }

    body {
        width: 100%;
        margin-top: 20%;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        
        .nav-background {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba($color-black, .6);
            z-index: 10;
            transition: all .5s;
        }
        
        .navigation__checkbox:checked {
            & ~ .header {
                & .navigation {
                    opacity: 0;
                    width: 0;
                }

                .header__title {
                    right: 50%;
                    transform: translate(80%, -50%);
                }
            }

            & ~ .nav-background {
                opacity: 0;
            }
        }

        

        .header {
            background-color: $header-color;

            &__bottom {
                display: none;
            }

            &__title {
                z-index: 11;
                right: 50%;
                transform: translate(45%, -50%);
                transition: all .4s;

                h1 {
                    font-size: 250%;
                }
            }
        }
    }
        
        .navigation {
            position: fixed;
            height: 100vh;
            width: 70vw;
            margin: 0 !important;
            background-color: $header-color;
            z-index: 10;
            transition: all .4s;
        
            &__button {
                display: initial;
                height: 3rem;
                width: 3rem;
                background-color: transparent;
                position: absolute;
                top: 4.5%;
                left: 8%;
                z-index: 12;
                cursor: pointer;
            }

            &__icon {
                position: relative;
                top: 57%;
                transform: translateY(-50%) rotate(90deg);
                transition: all .4s;

                &,
                &::before,
                &::after {
                    width: 3rem;
                    height: .2rem;
                    background-color: $color-white;
                    display: inline-block;
                }
        
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    transition: all .2s;
                }
        
                &::before { top: -1rem; }
                &::after { top: 1rem; }
            }            

            &__checkbox:checked + &__button &__icon {
                z-index: 15;
                transform: rotate(0deg);
            }

            &__checkbox:checked:has(&) {
                display: none;
            }

            &__list {
                margin: 0;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
            }

            &__item {
                display: block;
                &::after {
                    display: none;
                }
            }

            &__link {
                &:visited,
                &:link {
                    font-size: 7vw;
                    font-weight: 600;
                    line-height: 15vw;
                }
            }
        }

    .section-services {
        height: 109rem;
    }

    .services-box {
        height: 108.4rem;
    }

    .container-services {
        grid-template-columns: 1fr;
    }

    .section-portfolio {
        height: 107rem;
    }

    .portfolio {
        height: 106.4rem;
    }

    .collage {
        height: calc(1.1rem * 6 + 12.7rem * 6);
        grid-template: repeat(6, auto)/repeat(2, auto);
        gap: 1.1rem;

        &__image {
            width: 16rem;
            height: 12.7rem;
        }
    }

    .section-about {
        height: 180rem;
    }

    .about {
        height: 179.4rem;
    }

    .social:not(:last-child) { margin-bottom: 5rem;}
    
    .container-about {
        grid-template-columns: 1fr;

        .author__image {
            width: 33rem;
            height: 33rem;
        }

        .author:not(:last-child) { margin-bottom: 2rem;}
    }

    .section-quote {
        height: 92rem;
    }


    .quote {
        height: calc(100% - #{$endline-height});
        &__form {
            width: 100%;
        }

        &__contacts {
            width: 100%;
            position: none;
        }

        &__info p {
            margin-bottom: 0 !important;
        }

        .quote-form__btn {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    
    
    .footer {
        &__copyright {
            display: none;
        }

        &__social {
            width: 100%;
            transform: translate(35%, -50%);
        }
    }
}